# Virtual environments
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Trained model files
*.pth
*.pt

# Keep empty models folder visible on GitHub
!models/.gitkeep

# Environment files
.env

# Editor settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log